@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-quill .ql-container {
    border: none !important; /* Removes the bottom border applied by Quill */
  }
  
  .custom-quill .ql-editor {
    min-height: 12rem; /* Adjust this to make the editor taller when empty */
  }
  
  .custom-quill .ql-toolbar.ql-snow{
    border: none !important;
    border-bottom: 0.7px solid #E1E1E2 !important;
    
  }